@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Roboto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

form {
  margin: 50px 0;
  height: 50px;
  display: flex;
  justify-content: center;
}

form input {
  background-color: #fff;
  border: solid 2px rgb(0, 98, 221);
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
  width: 490px;
}

form button {
  background-color: rgb(0, 98, 221);
  border: 0;
  border-radius: 0 5px 5px 0;
  padding: 0 15px;
}

#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-page {
  background-color: transparent;
  border: 2px solid rgb(118, 177, 255);
  margin: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 250ms, color 250ms;
}

.button-page:hover {
  background-color: rgb(118, 177, 255);
  color: white;
}

.page-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.page-list__item {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}

.page-list__item--current {
  border: 2px solid rgb(118, 177, 255);
}

.page-list__item:hover {
  background-color: rgb(118, 177, 255);
  color: #fff;
}

#imgContainer {
  display: flex;
  flex-wrap: wrap;
  width: calc((150px * 5) + (2rem * 4));
  gap: 2rem;
}

.select-container {
  position: relative;
}

.img-per-page {
  appearance: none;
  -webkit-appearance: none;
  width: 150px;
  padding: 1.5rem;
  border: 2px solid rgb(118, 177, 255);
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.select-arrow {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-3.5px);
  width: 10px;
  height: 10px;
  border: 0.7rem solid;
  border-color: rgb(118, 177, 255) transparent transparent transparent;
  pointer-events: none;
}

.lightbox {
  height: 100svh;
  width: 100svw;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  gap: 3rem;
}

.lightbox__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lightbox__thumbnail {
  display: flex;
  gap: 1rem;
}

.lightbox__arrow-icon {
  height: 80px;
  fill: #dadada;
}
.active-thumb {
  border: 3px solid #dadada;
  box-shadow: 0 0 15px #dadada;
}

.lightbox__arrow-container {
  height: 100%;
  display: flex;
  align-items: center;
}